services/n8n-postgres/sample-json/AI Chat with memory.json
{
  "name": "AI Chat with memory",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        176
      ],
      "id": "1fec7030-cdfd-40f8-9096-2c47ee5b1636",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yM42XhV0RNOuCxod",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "eafbcdc3-11d9-4de7-abbb-fa42dd027022",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        224,
        272
      ],
      "id": "2bc2ce28-9367-49c7-88bb-b9240b54ddda",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "nSfZJP7yml5YUyVL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        0
      ],
      "id": "9d6bfb59-9cc3-4908-94f2-5ed2bef49034",
      "name": "When chat message received",
      "webhookId": "7d1e71a9-694d-4938-b29a-f348c027c95a"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59534c01-6c21-4314-9965-48e74dd9899c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26496a0ae6712e2347333e958ce7ce1d71a870448b4655c626de1f1a83d7c7ca"
  },
  "id": "OPENmzQwODW6aHe1",
  "tags": []
}